<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aga.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WLOrderActivity"
            android:label="@string/title_activity_wlorder"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Enables the Android Pay API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".AndroidPay"
            android:label="@string/title_activity_android_pay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreeDS"
            android:label="@string/title_activity_three_ds"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addWallet"
            android:label="@string/title_activity_add_wallet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BCActivity"
            android:label="@string/title_activity_bc"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>